div.best4 {
    width: 100%;
    height: auto;
}

div.best4>div.inside-best {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 30px;
    background: rgba(252, 217, 128, 0.10);
    flex-direction: column-reverse;

}

div.best4>div.inside-best>div.header {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.best4>div.inside-best>div.header>p:nth-of-type(1) {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.87;
}

div.best4>div.inside-best>div.header>p:nth-of-type(2) {
    color: #232536;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 33px;
    width: 100%;
    /* height: 69%; */
    text-align: center;
}

div.best4>div.inside-best>div.header>p:nth-of-type(3) {
    color: var(--Dark-blue, #282938);
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    opacity: 0.6;
    text-align: center;
}

div.best4>div.inside-best>div.picture {
    width: 100%;
}

div.best4>div.inside-best>div.picture>img {
    width: 100%;
}