div.process {
    width: 100%;
    height: auto;
}

div.process>div.inside-pro {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 48px;
}

div.process>div.inside-pro>div.text>p {
    color: var(--Dark-blue, #282938);

    /* Heading 2 */
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    /* 133.333% */
}

div.process>div.inside-pro>div.cards {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 32px;
}

div.process>div.inside-pro>div.cards>div.card {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 24px;
    align-items: center;
}

div.process>div.inside-pro>div.cards>div.card>div.icon {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
    align-items: center;
    column-gap: 24px;
}

div.process>div.inside-pro>div.cards>div.card>div.icon>svg:nth-of-type(1) {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--Royal-Blue, #2405F2);
}

div.process>div.inside-pro>div.cards>div.card>p:nth-of-type(1) {
    color: var(--Dark-blue, #282938);

    /* Heading 6 */
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    /* 150% */
}

div.process>div.inside-pro>div.cards>div.card>p:nth-of-type(2) {
    color: var(--Dark-blue, #282938);

    /* Paragraph */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    opacity: 0.7;
    margin-top: -20px;
}